<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to users</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">SICOMPUCLINIC</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/"
              >Cliente <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listarUsuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/info">Acerca de nosotros</a>
          </li>
        </ul>
      </div>
    </nav>

    <br />
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 container justify-center card">
          <h1 class="text-center">Registrar usuario</h1>
          <div class="card-body">
            <form
              th:action="@{/guardar}"
              th:object="${formulario}"
              method="post"
            >
              <!--  metodo para guardar lo digitado  -->
              <div class="form-group">
                <label>Nombre: </label
                ><input
                  type="text"
                  name="nombre"
                  th:field="*{nombre}"
                  class="form-control"
                  placeholder="Digite su nombre y apellido "
                  minlength="9"
                  maxlength="40"
                  required
                />
              </div>
              <div class="form-group">
                <label>Documento: </label
                ><input
                  type="text"
                  name="id"
                  th:field="*{id}"
                  class="form-control"
                  pattern="[0-9]+"
                  placeholder="Digite su documento"
                  minlength="10"
                  maxlenght="11"
                  required
                />
              </div>
              <div class="form-group">
                <label>e-mail: </label
                ><input
                  type="text"
                  name="email"
                  th:field="*{email}"
                  class="form-control"
                  placeholder="Digite su e-mail"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
              </div>
              <div class="form-group">
                <label>Dirección: </label
                ><input
                  type="text"
                  name="direccion"
                  th:field="*{direccion}"
                  class="form-control"
                  placeholder="Digite su dirección"
                  required
                />
              </div>
              <div class="form-group">
                <label>Telefono: </label
                ><input
                  type="text"
                  name="telefono"
                  th:field="*{telefono}"
                  class="form-control"
                  pattern="[0-9]+"
                  placeholder="Digite su telefono"
                  minlength="10"
                  maxlenght="11"
                  required
                />
              </div>
              <div class="form-group">
                <label>marca: </label
                ><input
                  type="text"
                  name="marca"
                  th:field="*{marca}"
                  class="form-control"
                  placeholder="Digite su marca"
                  required
                />
              </div>
              <div class="form-group">
                <label>Equipo: </label
                ><input
                  type="text"
                  name="equipo"
                  th:field="*{equipo}"
                  class="form-control"
                  placeholder="Digite su equipo"
                  required
                />
              </div>
              <div class="form-group">
                <label>revisado: </label
                ><input
                  type="text"
                  name="revisado"
                  th:field="*{revisado}"
                  class="form-control"
                  placeholder="revisado por "
                  required
                />
              </div>
              <div class="form-group">
                <label>observacion: </label
                ><input
                  type="text"
                  name="observacion"
                  th:field="*{observacion}"
                  class="form-control"
                  placeholder="observaciones"
                  required
                />
              </div>
              <!-- boton de guardar   revisado-->
              <div class="box-footer">
                <button class="btn btn-success">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
