<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Welcome to users</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"  href=css/info.css>
</head>
<body>
<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SICOMPUCLINIC</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crearSesion">Crear sesión</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/info">Acerca de nosotros</a>
      </li>
   
    </ul>
  </div>
</nav>

<section class="carrusel">
<h1>carrusel</h1>

</section>
<section class="nosotros my-5">
<h2 class="text-center my-5">Quienes somos:</h2>
	<div class="row">
		<div class="col-6 my-5">
	<h3>¡Calidad y profesionalismo en lo que hacemos!</h3>
		<p> Somos una empresa de tecnología de la información como ninguna otra. Ayudamos a 
		los clientes a solucionar sus problemas más difíciles y sus desafíos más importantes. Los
		tipos de obstáculos que requieren las capacidades únicas de nuestro equipo de profesionales - expertos en consultoría, estrategas, especialistas e investigadores en plataformas tecnológicas empresariales. 
		</p>
		</div>
		<div class="co-6">
		<img src="img/perro.jpg" alt="">
		</div>
	</div>

</section>

<section class="nosotros my-5">
<h2 class="text-center my-3">Nuestro Servicios:</h2>
	<div class="row">
		<div class="col-4 ">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="img/perro.jpg" alt="Card image cap">  <!-- imagen  -->
 
  <div class="card-body">
    <h5 class="card-title">Servicios de Reparación Hardware</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		
		</div>
		<div class="col-4">
			<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Servicios de Soporte IT</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		</div>
		<div class="co-4">
			<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Servicios de Migración de Datos </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		</div>
	</div>

</section>
<section class="nosotros my-5">

	<div class="row">
		<div class="col-4 ">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="img/perro.jpg" alt="Card image cap">  <!-- imagen  -->
 
  <div class="card-body">
    <h5 class="card-title">Servicios de Consultoría</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		
		</div>
		<div class="col-4">
			<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Servicios de soporte en virtualización</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
		</div>
		
	</div>

</section>
<section>
	<h3 class="text-center my-5">Contactanos </h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 container justify-center card">
				<h1 class="text-center">Horario de Atención.</h1>
				<div class="card-body">
					<p> Lunes a Lunes  6:00 am a 12:00 pm <br>13:00 pm a 22:00 pm <br>
Carrera 18a N. 1G-06 Bogota – Colombia
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
</section>
</body>
</html>